body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

/*formatação - imagem topo*/
.hero{
    background-image: url(../imagens/bg-6.png);
    background-size: contain;
    border-top: 1px solid transparent;
}

.hero-content{ /*formatação posição - imagem topo*/
    text-align:center;
    color: rgb(249, 250, 249);
    margin-top: 150px;
    font-family: 'Mountains of Christmas', cursive;
}

@font-face{
    font-family:'Christmas';
    src: url('../fonts/happy.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Christmas', Times, serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 3px 3px 1px #333;
}

/*formatação paragrafo abaixo do texto principal*/
.hero-content p{ 
    background-color: rgba(7, 83, 93, 0.8);
    margin: 0;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    border-bottom: 2px solid black;
}

/*posição cabeçalho - menu topo*/
.hero nav ul { 
    text-align: right;
    margin: 20px 50px 0 0;
    font-family: 'Mountains of Christmas',cursive;
}

/*espaçamento cabeçalho - menu topo*/
.hero nav li{ /*espaçamento cabeçalho - menu topo*/
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

 /*formatação cabeçalho - menu topo*/
.hero nav a{
    background: rgba(0,0,0, 0.3);
    display: block;
    padding: 12px;
    color: rgb(248, 248, 248);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}

/*transparência cabeçalho - menu topo*/
.hero nav a:hover{
  background: rgba(0, 0, 0, 0.5);
}

/*espaçamento entre uma sessão e outra e formatação */
.content-section{ 
    background-color:white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
    font-family: 'Mountains of Christmas',cursive;
    font-size: 18px;
}

.img-fluid{
    margin-top: 30px;
}

.formulario{
    text-align: center;
}

/*Indicativo das imagens no index*/
.subtitulo{ 
    background-color: rgb(180, 175, 175);
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 5px;
}

/*Posicionamento dos cards na tela inicial*/
.container-fluid{ 
    margin-top: 20px;
}

/*espaçamento entre uma sessão e outra*/
.content-header{ 
    border-bottom: solid 2px #ccc;
    padding: 10px;
    background: #eee;
}

/*formatação título sessão desenvolvedores*/
.content-header h2{ 
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    color: #166863;
    font-family: 'Mountains of Christmas',cursive;
    font-size: 60px;
}

/*formatação img desenvolvedores - index.html*/
.content-section ol img{ 
    font-family: 'Kaushan Script',cursive;
    width: 5%;
    float: none;
}

/*Sessão sobre - desenvolvedores*/

.sobre{
    display: flex;
    width:1100px;
    padding:30px;
    position: relative;
    flex-wrap: wrap;
}

.sobre .cards{
    max-width: 300px;
    height: 300px;
    position: relative;
    margin: 30px 10px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 20px;
    flex-direction: row;
    transition: 0.5s ease-in-out;
}

.sobre .cards:hover{
    height: 550px;
}

.sobre .cards .image{
    position: relative;
    width: 150px;
    height: 150px;
    top: -60px;
    left: 10px;
    z-index: 1;
}

.sobre .cards .image img{
    max-width: 100%;
    border-radius: 20px;
}

.sobre .cards .text{
    position: relative;
    margin-top: 80px;
    text-align: center;
    padding: 10px;
    color: rgb(27, 42, 179);
    visibility: hidden;
    transition: 0.3s ease-in-out;
    font-family:'Kaushan Script',cursive;
    font-size:20px;
}

.sobre .cards:hover .text{
    visibility: visible;
    transition-delay: 0.3s;
    cursor: pointer;
}

footer {
    height: 70px;
    position: sticky;
    background-color: lightgray;
    overflow: hidden;
}
/**/
.letra{
    margin-top: 3%;
}

.btn{
    margin-bottom: 20px;
}

.image{
    margin-left: 50px;
    text-align: center;
}

.fundosobre{
    background-color: white;
}

.grafico{
    align-items: center;
}

.container{
    width: 800px;
    margin: auto;
    position: relative;
}

.container img{
    width: 100%;
}

.campodoemail{
    margin-top: -30px;
    text-align: center;
    padding: 10px;
}

.campodotexto{
    position: absolute;
    top: 150px;
    left: 220px;
    transition: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}